
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
 .left-col, .right-col{
   padding-left: 0px !important;
 }
 .checkbox-second-div{
   padding-left: 227px !important;
 }
 /* .img-div{
   padding-left: 106px !important;
 } */
 .doctors-form{
   margin-left: 209px;
 }
 /* .schedule-textarea-div{
   margin-left: 227px !important;
 } */
 .textarea-btn-div{
   padding-right: 368px !important;
 }
 .textarea-btn{
   margin: 20px 0px 0px 0px !important;
 }
 .schedule{
   margin-right: 115px !important;
 }
 .schedule-form{
   margin-left: 316px !important;
 }
  .page-footer{
    padding: 20px 0px 0px 460px !important;
 }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
 .left-col, .right-col{
   padding-left: 229px !important;
 }
 .checkbox-second-div{
   padding-left: 227px !important;
 }
 .doctors-form{
   margin-left: 209px;
 }
 /* .schedule-textarea-div{
   margin-left: 227px !important;
 } */
 .textarea-btn-div{
   padding-right: 188px !important;
 }
 .textarea-btn{
   margin: 20px 0px 0px 223px !important;
 }
 .header-paragraph, .header-paragraph a{
   font-size: 12px !important;
 }
 .header-paragraph span{
   font-size: 14px;
 }
  .page-footer{
    padding: 20px 0px 0px 360px !important;
 }
 .index-footer{
   position: absolute;
   bottom: 0px;
 }
 .index-body{
   height: 100%;
   position: relative;
 }
 .list-body{
   height: 100vh;
   position: relative;
 }
  .navbar-nav{
     height: 100%;
     z-index: 99;
     position: relative !important;
     top: -20px !important;
     margin-left: 47px !important;
 }
 .navbar-nav .nav-item .nav-link{
   font-size: 14px !important;
   padding: 22px 10px !important;
 }
}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .page-header-container{
    max-width: 910px;
  }
  .header-paragraph{
    font-size: 15px !important;
    margin-right: 410px;
  }
  .header-paragraph a{
    font-size: 15px;
  }
  .customer-form {
    margin-top: 45px;
  }
  .doctors-form{
    margin-left: 79px;
  }
  .search-box{
    width: 280px !important;
    }
  .left-col, .right-col{
    padding-left: 102px !important;
  }
  /**************error*****************/
  .textarea-btn-div{
    padding-right: 79px !important;
  }
  .img-div{
    padding-left: 82px !important;
  }
  .textarea-btn{
    margin: 20px 0px 0px 96px !important;
  }
  .schedule-textarea-div{
    padding: 0px 10px 0px 100px;
  }
  .status-select-arrow{
    right: 38px;
  }
  .checkbox-second-div{
    padding-left: 105px !important;
  }
   .page-footer{
     padding: 11px 0px 0px 200px !important;
  }
  .index-footer{
    position: absolute;
    bottom: 0px;
  }
  .index-body{
    height: 100vh;
    position: relative;
  }
  .doctors-body{
    height: 100vh;
    position: relative;
  }
  .doctors-footer{
    position: absolute;
    bottom: 0px;
  }
  .list-body{
    height: 100vh;
    position: relative;
  }
  .navbar-nav{
      height: 100%;
      background: #274abb;
      z-index: 99;
      position: relative !important;
      top: -26px !important;
  }
  .navbar-toggler{
      position: relative !important;
      top: -14px !important;
  }
}

/*Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) and (max-width: 767.98px) {
   .page-header-container{
     max-width: 750px;
   }
  .header-paragraph{
    font-size: 15px !important;
    margin-right: 130px;
  }
  .header-paragraph a{
    font-size: 14px;
  }
  .search-box{
    width: 199px !important;
  }
  .popup .popuptext {
      width: 70px;
      height: 140px;
      top: 8px;
      left: 6px;
  }
  .customer-form {
    width: 525px !important;
    margin: 20px 10px 19px;
  }
  .doctors-form{
    width: 525px !important;
    margin: 20px 10px 19px;
  }
  .doctors-check-div{
    padding: 0px;
  }
  .textarea-btn-div{
    padding: 0px !important;
  }
  .schedule-textarea-div{
    padding: 0px !important;
  }
  .status-select-arrow{
    right: 23px;
  }
  .textarea-btn{
    margin: 20px 0px !important;
  }
   .page-footer{
     padding: 11px 0px 0px 179px !important;
  }
  .index-footer{
    position: absolute;
    bottom: 0px;
  }
  body{
    height: 100vh;
    position: relative;
  }
  .navbar-nav{
      height: 100%;
      background: #274abb;
      z-index: 99;
      position: relative !important;
      top: -26px !important;
  }
  .navbar-toggler{
      position: relative !important;
      top: -14px !important;
  }
}

/*  Extra Small devices (Less than 576px) */
@media (max-width: 575.98px) {
  .header-paragraph{
    font-size: 15px !important;
    margin-right: 56px;
    padding-bottom: 7px;
    }
    .header-paragraph a{
      font-size: 13px;
    }
    .search-box{
      width: 199px !important;
    }
    .page-section-container{
      width: 453px !important;
       margin: 43px 0px 0px 0px !important;
    }
    .page-section .list-section-container{
      width: 90% !important;
      padding: 0px !important;
      box-sizing: border-box !important;
      margin: 0px !important;
    }
    .list-section-container .col-12{
      padding: 0px;
    }
    .page-section .section-table{
      width: 90% !important;
    }
    .popup .popuptext {
        width: 50px;
        height: 100px;
        top: 8px;
        left: 6px;
    }
    .customer-heading{
      margin: 0px 0px 80px !important;
    }
    .left-form-check{
      margin-right: 4px !important;
    }
    .left-form-check label, .right-form-check label{
      margin-right: 8px;
    }
    .customer-form, .section-form {
      width: 415px !important;
      margin: 20px 10px 19px;
    }
    .customer-form input{
      width: 200px !important;
    }
    h6{
      margin-left: 60px !important;
    }
    #insert-btn{
      width: 139px !important;
    }
    .insert-btn-div{
      padding-left: 65px !important;
    }
    .schedule-textarea{
      width: 400px !important;
    }
    .left-col{
      padding-left: 10px !important;
    }
    .check-list-label{
      margin: 20px 0px;
      width: 406px !important;
    }
    .section-heading{
      margin: 0px !important;
    }
    .doctors-check-div{
      padding: 0px;
    }
    .checkbox-second-div{
      margin-top: 35px;
    }
    .img-div{
    padding-left: 79px !important;
    }
    .doctors-form input{
      width: 190px !important;
    }
    .schedule-textarea-div{
      padding: 20px 0px 0px 99px !important;
      margin-left: 0px !important;
    }
    .textarea-btn-div{
      padding: 0px 26px 0px 0px !important;
    }
    .status-select-arrow{
      left: 220px;
    }
    .popup .same-customer{
      width: 441px !important;
    }
    #popup-close-btn{
      width: 100px !important;
    }
    /* .doctors-footer{
      position: absolute;
      bottom: 0px;
    } */
    .index-footer{
      position: absolute;
      bottom: 0px;
    }
  .footer-paragraph{
      padding: 13px 0px 0px 95px;
    }
  .navbar-nav{
      height: 100%;
      background: #274abb;
      z-index: 99;
      position: relative !important;
      top: -26px !important;
  }
  .nav-item .nav-link{
      font-size: 14px;
  }
  .navbar-toggler{
      position: relative !important;
      top: -14px !important;
  }
}


/*
@media (min-width: 300px) and (max-width: 630px){
  .doctors-footer{
    position: absolute !important;
    bottom: 0px !important;
  }
  .doctors-body{
    height: 100% !important;
    position: relative !important;
  }
} */
